body{
    font-size: 20px;
    background-color: rgba(226, 164, 48, 0.897);
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(49, 114, 6);
}